body {
  /* margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 5px; */
  margin-bottom: 10px;
  margin: auto;
  border: 10px;
  border-style: solid;
  border-color: rgb(205, 205, 242);
  background-size: 500px;
  background-color: rgb(39, 246, 239);
}

#firstH1 {
  color: rgb(205, 205, 242);
  text-align: center;
  font-size: 72px;
  background: -webkit-linear-gradient(
    rgb(190, 134, 221),
    rgba(71, 11, 11, 0.473)
  );
  text-decoration-color: transparent;
  font-family: 'Alegreya', serif;
}

#secondH1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(200, 20, 188);
  font-size: 25px;
  text-shadow: 2px 2px #4e2b49;
  /* background: -webkit-linear-gradient(
    rgba(121, 7, 192, 0.473),
    rgb(203, 158, 100)
  ); */
  border-left-color: aliceblue;
  margin-top: -25px;
  margin: auto;
  font-family: 'Aclonica', sans-serif;
}

ul {
  border: 5px;
  border-color: rgb(172, 172, 229);
  margin-left: -15px;
  margin-top: 100px;
  padding: -15px;
}

li {
  margin: 5px;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(222, 183, 132);
  border-style: solid;
  border-color: maroon;
}

#fetchBtn {
  display: flexbox;
  flex-wrap: wrap;
  justify-content: left;
  text-decoration: underline;
  background-color: rgb(172, 172, 229);
  color: #ffffff;
  border-radius: 35px;
  cursor: grab;
  margin-top: 70px;
  margin-left: 55px;
  margin-bottom: 15px;
  padding: 25px;
  font-size: 22px;
  font-family: monospace;
  box-shadow: 5px 5px lavender;
}

#bestQuote {
  text-decoration: underline;
  background-color: rgb(172, 172, 229);
  color: #ffffff;
  cursor: zoom-in;
  border-radius: 35px;
  margin-left: 330px;
  padding: 25px;
  font-size: 22px;
  font-family: monospace;
  box-shadow: 5px 5px lavender;
}

#refreshBtn {
  text-decoration: underline;
  background-color: rgb(172, 172, 229);
  color: #ffffff;
  border-radius: 35px;
  cursor: wait;
  margin-left: 450px;
  padding: 25px;
  font-size: 22px;
  font-family: monospace;
  box-shadow: 5px 5px lavender;
}

#memeContainer {
  position: absolute;
  bottom: 15px;
  left: 10px;
  box-shadow: 25px 25px black;
}